:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  margin-top: 5rem;
  border-radius: 5px;
  width: min(800px, 100%);
  margin-inline: auto;
  background: white;
  color: #242424;
}

.info {
  margin-top: 1rem;

  background: #242424;
  color: white;
  line-height: 1;
}
